[all:children]
jenkins_master
jenkins_slaves
openshift

[jenkins_master]
jenkins-master

[jenkins_slaves]
jenkins-slave

[openshift]
openshift

[all:vars]
public_registry=jenkins-slave

[jenkins_master:vars]
oc_slave=jenkins-slave
